*{
  margin:0;
  padding:0;
  color:#333;
  font-family: 'Open Sans', sans-serif;;
}

body{
  padding-left:150px;
  background:#99CC4E;
}

.top-tip{
  background:#489e34;
  width: 200px;
  max-height:200px;
  padding: 3px;
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
}

.top-tip img{
  width:198px;
}

aside{
  background-color:white;
  position:fixed;
  top:20px;
  left:0px;
  width:90px;
  padding:10px;
  border: 2px solid green;
  border-left:0px;
  border-top-right-radius:8px;
  border-bottom-right-radius:8px;
  box-shadow:4px 4px 4px rgba(0,0,0,0.3);
}
aside h3{
  font-weight:normal;
}

img.logo{
  margin:20px auto;
  display:block;
  border-radius:0;
}

article{
  position:relative;
  z-index:10;
  max-width:520px;
  margin:20px auto;
  background:#DFE6D7;
  border-radius:8px;
  border: 2px solid green;
  padding-bottom:20px;
  box-shadow:4px 4px 4px rgba(0,0,0,0.3);
}

header{
  padding: 20px;
}

header h3{
  font-weight:bold;
  text-transform:uppercase;
}

header h1{
  margin-bottom:16px;
}

header img{
  margin:0;
  margin-bottom:20px;
}

a.tel{
  font-size: 24px;
  color:green;
  text-decoration: none;
  display:block;
  margin-top:10px;
}

blockquote{
  font-style: italic;
  background:#ccc;
  color:white;
  font-size:14px;
  padding:20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border:1px solid #222;
}

span.reference{
  font-style:normal;
  font-size:16px;
  color: black;
  font-weight: bold;
  display:block;
  text-align:right;
  margin-top:8px;
}

section{
  padding:20px;
}

ul{
  padding-left:70px;
  padding-right:50px;
  padding-bottom:20px;
  margin-bottom:20px;
  border-bottom:1px solid #333;

}
li{
  margin-bottom: 6px;
}

h2{
  font-size:24px;
  margin-bottom:16px;
  text-transform:uppercase;
  letter-spacing:-1px;
  text-align:center;
}
img{
  margin-left:20px;
  margin-right:20px;
  border:1px solid green;
}
p{
  font-size:16px;
  line-height:21px;
  margin-bottom:8px;
}

p.getintouch{
  font-weight:bold;
  font-style:italic;
  font-size:16px;
  text-align:center;
}

p.intro{
  font-size:19px;
  font-style:italic;
  font-weight:bold;
}

.credits{
  font-size:12px;
  padding:20px;
  padding-bottom:0;
  line-height:12px;
}
.credits a{
  font-weight:bold;
  color:#333;
  text-decoration:none;
}
.credits a:hover{
  color:black;
}
@media all and (max-width: 650px){
  body{
    padding-left:0;
  }
  article{
    margin:0 auto;
    border-radius:0;
    border:0;
  }
  img{
    width: 100%;
    margin: 0;
    border:0;
  }
  aside{
    position:relative;
    width:auto;
    border-radius:0;
    border:0;
    top:0;
    left:0;
    border-bottom:2px solid green;
  }
}

